### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
school_data.head(15)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# Define simple measures
school_count = len(school_data_complete['school_name'].unique())
student_count = len(school_data_complete['Student ID'].unique())
total_budget = school_data_complete['budget'].unique().sum()
avg_math = school_data_complete['math_score'].mean()
avg_reading = school_data_complete['reading_score'].mean()

print([school_count])
print([student_count])
print([total_budget])
print([avg_math])
print([avg_reading])

[15]
[39170]
[24649428]
[78.98537145774827]
[81.87784018381414]

In [5]:
# Define the rest of the measures
students_passing_math = len(school_data_complete.loc[school_data_complete["math_score"] >= 70]["Student ID"])
students_passing_reading = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70]["Student ID"])
students_passing_both = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]['Student ID'].count()

print([students_passing_math])
print([students_passing_reading])
print([students_passing_both])

percent_passing_math=round(float(students_passing_math/student_count)*100,2)
percent_passing_reading=round(float(students_passing_reading/student_count)*100,2)
percent_passing_both=round(float(students_passing_both/student_count)*100,2)

print([percent_passing_math])
print([percent_passing_reading])
print([percent_passing_both])

[29370]
[33610]
[25528]
[74.98]
[85.81]
[65.17]

In [6]:
# Create District Summary
district_summary = pd.DataFrame({"Total Schools":school_count, "Total Students":student_count,
                                "Total Budget":total_budget, "Average Math Score":avg_math,
                                "Average Reading Score":avg_reading, 
                                "Percent Passed Math":percent_passing_math,
                                "Percent Passed Reading":percent_passing_reading,
                                "Overall Passing Rate":percent_passing_both}, index=[0])

# Adjust formatting
district_summary["Total Students"] = district_summary["Total Students"].map('{:,}'.format)
district_summary["Total Budget"] = district_summary["Total Budget"].map('${:,}'.format)
district_summary["Percent Passed Math"] = district_summary["Percent Passed Math"].map('{}%'.format)
district_summary["Percent Passed Reading"] = district_summary["Percent Passed Reading"].map('{}%'.format)
district_summary["Overall Passing Rate"] = district_summary["Overall Passing Rate"].map('{}%'.format)

district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passed Math,Percent Passed Reading,Overall Passing Rate
0,15,"39,170","$24,649,428",78.985371,81.87784,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [10]:
# Define easier attributes/measures
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])
school_type = school_data.set_index('school_name')['type']
student_count = school_name["Student ID"].count()
total_budget = school_data.set_index('school_name')['budget']
budget_per_student = total_budget/student_count
avg_math_score = school_name["math_score"].mean()
avg_reading_score = school_name["reading_score"].mean()

# Argh ...
#percent_pass_math = school_data_complete.loc[school_data_complete["math_score"] >= 70].groupby('school_name')['Student ID'].count()/student_count
#percent_pass_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70].groupby('school_name')['Student ID'].count()/student_count
#overall_pass_rate = (percent_pass_math + percent_pass_reading)/2
#overall_pass_rate = school_data_complete[(school_data_complete['reading_score'] >= 70) & school_data_complete['math_score'] >= 70)].groupby('school')['Student ID'].count()/student_count 

pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/student_count
pass_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/student_count
pass_both = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/student_count

print(pass_math)
print(pass_reading)
print(pass_both)

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: Student ID, dtype: float64
school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: Student ID, dtype: float64
school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
Name: Student ID, dtype: float64

In [25]:
# Create School Summary df

school_summary = pd.DataFrame({
                               "School Type" : school_type,
                               "Total Students" : student_count,
                               "Total School Budget" : total_budget,
                               "Per Student Budget" : budget_per_student,
                               "Average Math Score" : avg_math_score,
                               "Average Reading Score" : avg_reading_score,
                               "Percent Passing Math": pass_math,
                               "Percent Passing Reading" : pass_reading,
                               "Percent Passing Both" : pass_both})

In [26]:
# Rearrange columns

school_summary = school_summary [[ "School Type", 
                                   "Total Students", 
                                   "Total School Budget",
                                   "Per Student Budget",
                                   "Average Math Score",
                                   "Average Reading Score",
                                   "Percent Passing Math",
                                   "Percent Passing Reading",
                                   "Percent Passing Both"
                                                                    
                                   ]]
    

    
# Format values

school_summary['Total Students'] = school_summary['Total Students'].map("{:,}".format)
school_summary['Total School Budget'] = school_summary['Total School Budget'].map("{:,}".format)
school_summary['Per Student Budget'] = school_summary['Per Student Budget'].map("{:.2f}".format)
school_summary['Average Math Score'] = school_summary['Average Math Score'].map("{:.1f}".format)
school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map("{:.1f}".format)
school_summary['Percent Passing Math'] = school_summary['Percent Passing Math'].map("{:.1%}".format)
school_summary['Percent Passing Reading'] = school_summary['Percent Passing Reading'].map("{:.1%}".format)
school_summary['Percent Passing Both'] = school_summary['Percent Passing Both'].map("{:.1%}".format)

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
Bailey High School,District,"4,976","3,124,928",628.00,77.0,81.0,66.7%,81.9%,54.6%
Cabrera High School,Charter,"1,858","1,081,356",582.00,83.1,84.0,94.1%,97.0%,91.3%
Figueroa High School,District,"2,949","1,884,411",639.00,76.7,81.2,66.0%,80.7%,53.2%
Ford High School,District,"2,739","1,763,916",644.00,77.1,80.7,68.3%,79.3%,54.3%
Griffin High School,Charter,"1,468","917,500",625.00,83.4,83.8,93.4%,97.1%,90.6%
Hernandez High School,District,"4,635","3,022,020",652.00,77.3,80.9,66.8%,80.9%,53.5%
Holden High School,Charter,427,"248,087",581.00,83.8,83.8,92.5%,96.3%,89.2%
Huang High School,District,"2,917","1,910,635",655.00,76.6,81.2,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","3,094,650",650.00,77.1,81.0,66.1%,81.2%,53.5%
Pena High School,Charter,962,"585,858",609.00,83.8,84.0,94.6%,95.9%,90.5%
Rodriguez High School,District,"3,999","2,547,363",637.00,76.8,80.7,66.4%,80.2%,53.0%
Shelton High School,Charter,"1,761","1,056,600",600.00,83.4,83.7,93.9%,95.9%,89.9%
Thomas High School,Charter,"1,635","1,043,130",638.00,83.4,83.8,93.3%,97.3%,90.9%
Wilson High School,Charter,"2,283","1,319,574",578.00,83.3,84.0,93.9%,96.5%,90.6%
Wright High School,Charter,"1,800","1,049,400",583.00,83.7,84.0,93.3%,96.6%,90.3%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [27]:
top_five_overall = school_summary.sort_values("Percent Passing Both", ascending = False)
top_five_overall.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
Cabrera High School,Charter,"1,858","1,081,356",582.00,83.1,84.0,94.1%,97.0%,91.3%
Thomas High School,Charter,"1,635","1,043,130",638.00,83.4,83.8,93.3%,97.3%,90.9%
Griffin High School,Charter,"1,468","917,500",625.00,83.4,83.8,93.4%,97.1%,90.6%
Wilson High School,Charter,"2,283","1,319,574",578.00,83.3,84.0,93.9%,96.5%,90.6%
Pena High School,Charter,962,"585,858",609.00,83.8,84.0,94.6%,95.9%,90.5%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [28]:
bottom_five_overall = school_summary.sort_values("Percent Passing Both", ascending = True)
bottom_five_overall.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
Rodriguez High School,District,"3,999","2,547,363",637.00,76.8,80.7,66.4%,80.2%,53.0%
Figueroa High School,District,"2,949","1,884,411",639.00,76.7,81.2,66.0%,80.7%,53.2%
Hernandez High School,District,"4,635","3,022,020",652.00,77.3,80.9,66.8%,80.9%,53.5%
Huang High School,District,"2,917","1,910,635",655.00,76.6,81.2,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","3,094,650",650.00,77.1,81.0,66.1%,81.2%,53.5%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [23]:
# Define avg grade-level math scores for each school
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

# Format
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [29]:
# Swap 'math' for 'reading'
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

reading_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
reading_scores = math_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

# Format
reading_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [33]:
# Define spend bins
bins = [0, 584.999, 614.999, 644.999, 999999]
group_name = ['<$585', "$585 - $614", "$615 - $644", "> $644"]
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_name)

# Group by spend
by_spending = school_data_complete.groupby('spending_bins')

# Define measures
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

            
# Create df     
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
# Rearrange columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

# Format
scores_by_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [38]:
# Define size bins
bins = [0, 999, 1999, 999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = group_name)

# Group by size
by_size = school_data_complete.groupby('size_bins')

# Define measures
avg_math = by_size['math_score'].mean()
avg_read = by_size['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_spending['Student ID'].count()

            
# Create df     
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
# Rearrange columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_size.index.name = "School Size"
scores_by_size = scores_by_size.reindex(group_name)

# Format
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Type

* Perform the same operations as above, based on school type

In [39]:
# group by type of school
by_type = school_data_complete.groupby("type")

#calculations 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_read =school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()

# df build            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
#reorder columns
scores_by_type = scores_by_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_type.index.name = "Type of School"


#formating
scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})